* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-one: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  --gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Bold.ttf") format("ttf"),
    url("./assets/fonts/static/Inconsolata-ExtraBold.ttf") format("ttf"),
    url("./assets/fonts/static/Inconsolata-Medium.ttf") format("ttf"),
    url("./assets/fonts/static/Inconsolata-Regular.ttf") format("ttf");
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  color: var(--neutral-one);
  font-family: "Inconsolata", sans-serif;
  flex-direction: column;
  align-items: center;
  position: relative;

  background: url("../assets/images/pattern-squiggly-line-bottom-mobile-tablet.svg"),
    url("../assets/images/background-mobile.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 100%, -100% 65%;
  background-size: 80%, cover;
  padding: 10px 40px;
}

.attachment_1 img {
  position: absolute;
  top: 4%;
  right: 0%;
  width: 40%;
}
header {
  text-align: center;
  display: grid;
  gap: 20px;
  margin-bottom: 20px;
  max-width: 310px;
  gap: 30px;
  margin-bottom: 30px;
}

header p {
  margin-top: 8px;
  color: var(--neutral-500);
  margin-top: 10px;
  text-align: center;
}

.ticket header h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

.ticket {
  display: flex;
  flex-direction: column;
}

.ticket header span {
  color: var(--orange-500);
}
#firstName {
  color: var(--gradient-text);
}
#lastName {
  color: var(--gradient-text);
}
.ticket-container {
  position: relative;
}

.ticket-container img {
  width: 100%;
}
.details {
  width: 30%;
  position: absolute;
  top: 45%;
  left: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.details-top img {
  width: 100%;
}
.details-top figcaption {
  margin: 3px 0 0 20px;
  color: var(--neutral-500);
  text-wrap: nowrap;
}
#details-bottom {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  align-items: center;
  text-wrap: nowrap;
}

#details-bottom .avatar {
  width: 40%;
  border-radius: 12px;
}
#details-bottom .username {
  display: flex;
  align-items: center;
}
#details-bottom .username img {
  width: 100%;
}
.ticket #name {
  color: var(--neutral-300);
}
#userId,
#randomId {
  color: var(--neutral-500);
}
#randomId {
  position: absolute;
  right: 9%;
  top: 52%;
  transform: rotate(90deg);
}
.attribution {
  font-size: 0.688rem;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    background: url("../assets/images/pattern-squiggly-line-bottom-desktop.svg")
        no-repeat,
      url("../assets/images/background-desktop.png");
    background-position: 0% 100%, 80%;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, cover;
    padding: 50px;
    height: 100vh;
  }

  .attachment_1 img {
    top: 12%;
    right: 0%;
    width: 30%;
  }

  header {
    max-width: 840px;
    align-items: center;
    margin-bottom: 80px;
    text-align: center;
  }

  header h2 {
    font-size: 3rem;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 5rem;
    max-width: 840px;
    text-align: center;
  }

  header p {
    font-size: 2rem;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }

  .ticket {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ticket header h2 {
    margin: 30px 0 20px 0;
    font-size: 5rem;
    max-width: 840px;
    text-align: center;
  }

  .ticket .info {
    display: grid;
    width: 55%;
  }
  .ticket-container {
    width: 100%;
    position: relative;
  }

  .info .details {
    top: 52%;
    left: 27%;
  }
  .details-top img {
    width: 100%;
  }
  .details-top figcaption {
    margin-left: 80px;
    font-size: 2rem;
  }
  #details-bottom {
    margin-top: 60px;
    gap: 15px;
    font-size: 2.8rem;
  }

  #details-bottom .avatar {
    width: 28%;
  }
  #details-bottom .username {
    gap: 12px;
  }
  #details-bottom .username img {
    width: 100%;
  }
  #randomId {
    right: 26%;
    top: 63%;
    font-size: 1.8rem;
  }

  .attribution {
    font-size: 1rem;
  }
}
